html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(250, 246, 235, 0.905);
    overflow: scroll;
    border: 10px solid red;
    border-radius: 2%;
}

/*------------------------------------First Page - Header------------------------------------*/

/*Logo*/
.logo {
    width: 50px;
    height: 20px;
}

.name {
    font-size: 18px;
    background: -webkit-linear-gradient(#6B9DDA, #D86BDA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

/*title*/

.title1{
    font-size: 18px;
    color: #1E3454;
    font-weight: 500;
}
.fastfood {
    font-size: 48px;
    color:#C0A153;
    text-shadow:5px 5px 0 #2F4C6F;
    font-weight: 500;
}

/*main images*/

.nofastfood {
    width: 100px;
    height: 50px;
}

/*scroll down*/

.scroll {
    font-size: 16px;
    font-weight: bold;
}

.scroll-img {
    width: 70px;
    height: 50px;
}

/*What is fast food*/
.ff-mean {
    font-size: 24px;
    color: #1E3454;
}


.click{
    font-size: 16px;
}



